*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.main1{
  display: flex;
  background-color: rgb(245,245,245);
  padding: 50px 0px;
  height: 100%;
  justify-content: space-around;

  &__content{
    height: 100%;
    width: 700px;
    margin-left: 50px;
    &__user{
      height: 200px;
      padding: 20px;
      text-align: center;
      border-bottom: 1px solid whitesmoke;
      background-color: antiquewhite;
      margin-bottom: 80px;
      box-sizing: border-box;
      img{
        height: 50px;
        width: 50px;
        border: 1px solid yellow;
        border-radius: 50px;
      }
      &__name{
        padding-top: 10px;
        display: flex;
        justify-content: center;
        &__last{
          margin-right: 10px;
        }
        &__first{
          margin-left: 10px;
        }
      }
      &__count{
        padding: 10px 100px;
        display: flex;
        justify-content: space-evenly;
      }
        }
      
  &__head{
    font-size: 24px;
    text-align: center;
    background-color: #fff;
    border-bottom:1px solid #f5f5f5;
    
  }
  &__post{
    height: 1000px;
    list-style: none;
    display: block;

    &__favorite{
      
      min-height: 80px;
      padding: 16px;
      color: #333;
      border-bottom:1px solid #f5f5f5;
      background-color: #fff;
      justify-content: space-around;
      
      &__item{
        display: flex;
        margin: 0 40px 0 68px;
      &__picture{
        
        img{   
          width: 48px;
          height: 48px;
        }
      }
      &__name{
        display: -webkit-box;
        max-height: 4.4em;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        line-height: 1.5;
        padding-left: 30px;
        
      }
      &__arrow{
        padding-left: 420px;
        top: 50%;
        right: 16px;
      }
     }
    }
  }
 }
}