.delete-decoration{
  color: #3CCACE;
  text-decoration: none;
}

// .fixed_btn{
//   display: none;
// }

.show-items-containers{
  background-color: #f5f5f5;
  height: 100%;
  padding-top: 40px;

.item-box-container {
  width: 700px;
  margin: 0 auto;
  background-color: white;
  .item-name{
    text-align: center;
    line-height: 1.4;
    font-size: 24px;
  }
  .item-main-content{
    display: flex;
    justify-content: space-around;
    .item-photo{
      width: 300px;
      height: 375px;
      background-color: #f5f5f5;
      &__top{
        width: 300px;
        height: 300px;
        &--size
        {
          width: 300px;
          height: 300px;

          &__sold{
            width: 0;
            height: 0;
            border-top: 60px solid #ea352d ;
            border-right: 60px solid transparent;
            border-bottom: 60px solid transparent;
            border-left: 60px solid #ea352d ;
            z-index:100;
            position: relative;
            top:-320px;
            &__inner{
              transform: rotate(-45deg);
              font-size: 28px;
              margin:-35px 0px 0px -55px;
              color: #fff;
              letter-spacing: 2px;
              font-weight: 600;
            }
          }
        }
      }
      &__bottom{
        display: flex;
        justify-content: flex-start;
        &--size{
          width: 60px;
          height: 60px;
        }
      }
      }
    }
    .item-detail-table{
      width: 300px;
      height: 420px;
      .delete-decoration{
        text-decoration: none;
      }
    tbody{
      .delete-decoration{
        text-decoration: none;
      }
      tr{
        th{
          border: solid 1px #f5f5f5;
          font-weight: 400;
          background: #fafafa;
        }
        td{
          border: solid 1px #f5f5f5;
        }
      }
    }
    .table-record{
      .table-data{
        .item-user-ratings{
          display: flex;
          justify-content: flex-start;
          .item-user-rating{
            margin-right: 20px;
          }
        }
      }
    }
    }
    .item-price{
      height: 50px;
      margin: 24px 0 0;
      text-align: center;
      &__bold{
        font-weight: bold;
        font-size: 30px;
      }
    }
    .item-buy-btn{
      height: 60px;
      margin-top: 16px;
      display: block;
      background-color: #3CCACE;
      text-decoration: none;
      text-align: center;
      color: white;
      font-weight: bold;
      font-size: 30px;
      line-height: 60px;
    }
    .item-description{
      background-color: white;
      height: 135px;
      padding-top: 30px;
    }
    .item-button{
      align-items: center;
      background-color: white;
      display: flex;
      justify-content: space-between;
    &__left{
      &__favorite{
        width: 135px;
        height: 38px;
        font-size: 12px;
        line-height: 15px;
        background-color: white;
        color: #3CCACE;
        border: solid 1px #ffb340;
        border-radius: 40px;
        outline: 0;
      }
    }
    &__right{
      &__nogood{
        text-decoration: none;
        border: 1px solid #333;
        border-radius: 4px;
        padding: 10px;
        color: #333;
      }
    }
    }
}


.item-detail-message{
  width: 700px;
  height: 260;
  margin: 25px auto;
  background-color: #f5f5f5;
  .message-container{
    background-color: white;
    .message-content{
      &__form{
        text-align: center;

        &--textarea{
          margin-top: 8px;
          width: 650px;
          height: 100px;
        }
        p{
          padding: 8px;
          font-size: 14px;
          background-color: #f8f8f8;
          width: 650px;
          margin: 0 auto;
        }
        &--submit{
          width: 390px;
          background-color: #3CCACE;
          color: white;
          border: 0;
          margin-top: 10px;
          line-height: 48px;
          border-radius: 100px;
        }
      }
    }
  }
}

.nav-item{
  width: 700px;
  height: 30px;
  margin: 24px auto 0;
  display: flex;
  justify-content: space-between;
  &__link-prev{
    height: 30px;
  }
  &__link-next{
    height: 30px;
  }
}

.items-in-user{
  width: 1000px;
  margin: 50px auto 0;
  .items-containers{
    &__head{
      line-height: 1.4;
      font-size: 20px;
    }
    &__content{
      width: 350px;
      display: flex;
      justify-content: flex-start;
      .items-box{
        width: 220px;
        margin: 0 20px 20px 0;
        .delete-decoration {
        .items-box-photo{
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          .is-higher-height{
          width: 220px;
          height: 292px;
          }
        }
        .items-box-body{
          text-align: center;
          .items-box-name{
            overflow: hidden;
            height: 2.8em;
            line-height: 1.4em;
          }
          .items-box-num{
            margin-top: 10px;
          }
       }
      }
      }
    }
  }
}
}

.box{
  width: 700px;
  height: 220px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0;

 
 &__inner{
  margin: 24px 0 24px 0;
  background-color: #fff;
  padding: 8px 16px 8px 16px;
  width: 700px;

  &__edit{
    margin: 16px 0 16px 0;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    text-align: center;


  }
  p{
     display: block;
     margin-block-start: 1em;
     margin-block-end: 1em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
     text-align: center;
   }



  &__delete{
    display: block;
    margin: 16px 0 16px 0;
    background: #aaa;
    border:1px solid #aaa;
    color:#fff;
    width: 668px;
    height: 50px;
    line-height: 48px;
    text-align: center;
    font-size: 14px;

  }

 }
}

.sold-out{
  background: #888;
  cursor: not-allowed;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 600;
  line-height: 60px;

}